*{
  margin: 0;
  padding: 0;
  font-family: "Sf";
  box-sizing: border-box;
}

@font-face {
  font-family: "Sf";
  src: url("./fonts/Arial\ Unicode.ttf");
}

body{
  background: #020202;
  color: #ffffff;
}

#header{
  width: 100%;
  height: 100vh;
  
}