*{
  margin: 0;
  padding: 0;
  font-family: "Sf";
  box-sizing: border-box;
}

@font-face {
  font-family: "Sf";
  src: url("./fonts/Arial\ Unicode.ttf");
}

body{
  background: #020202;
  color: #f7fbea;
}

#header{
  width: 100%;
  height: 100vh;
  background-image: url(images/Earth\ 4K\ Wallpaper.jpg);
  background-size: cover;
  background-position: center;
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  width: 28px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: #f7fbea;
  text-decoration: none;
  font-size: 18px;
}
